{{ define "all_items" }}
{{/* Created on 18. 02. 2021 */}}
{{/* Time-stamp: <2021-06-07 15:58:24 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Latest Headlines</h2>

    {{ if ne .Prev "" }}
    <a href="/items/{{ .Prev }}">&lt;&lt; Previous</a>
    {{ end }}
    &nbsp;&nbsp;&nbsp;
    {{ if gt .PageCnt 0 }}
    <select id="choose_page" class="btn btn-primary">
      {{ range $i := intRange .PageCnt }}
      <option id="item_page_{{ $i }}" value="{{ $i }}">
        {{ inc $i }}
      </option>
      {{ end }}
    </select>
    <input
    type="button"
    class="btn btn-primary"
    value="Go"
    onclick="items_go_page();" />
    &nbsp;&nbsp;&nbsp;
    {{ end }}
    {{ if ne .Next "" }}
    <a href="/items/{{ .Next }}">Next &gt;&gt;</a>
    {{ end }}

    {{ template "items" . }}

    {{ if ne .Prev "" }}
    <a href="/items/{{ .Prev }}">&lt;&lt; Previous</a>
    {{ end }}
    &nbsp;&nbsp;&nbsp;
    {{ if ne .Next "" }}
    <a href="/items/{{ .Next }}">Next &gt;&gt;</a>
    {{ end }}

    {{ template "footer" }}
  </body>
</html>
{{ end }}
