{{ define "cluster" }}
{{/* Created on 16. 06. 2021 */}}
{{/* Time-stamp: <2021-07-01 00:17:48 krylon> */}}
<div class="container-fluid">
  <div class="row" id="cluster_list_{{ .Item.ID }}">
    {{ $item := .Item }}
    {{ range .Clusters }}
    <span id="cluster_link_{{ $item.ID }}_{{ .ID }}">
      {{ .Name }}
      ({{ .ID }})
      <img
      id="item_{{ $item.ID }}_cluster_{{ .ID }}"
      src="/static/delete.png"
      role="button"
      onclick="item_rm_cluster({{ $item.ID }}, {{ .ID }});" />
    </span>
    <br />
    {{ end }}
  </div>

  <div class="row" {{/* id="cluster_form_{{ .Item.ID }}" */}} >
    <input type="text"
           id="cluster_input_{{ .Item.ID }}"
           class="cluster_input"
           list="cluster_list"
           placeholder="Cluster"
           />
    <script>
     install_cluster_key_handler({{ .Item.ID }});
    </script>
  </div>
</div>
{{ end }}
