{{ define "cluster_details" }}
{{/* Created on 11. 07. 2021 */}}
{{/* Time-stamp: <2021-07-11 21:52:39 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Items</h2>

    {{ template "items" . }}

    {{ template "footer" }}
  </body>
</html>
{{ end }}
