{{ define "feed_form" }}
{{/* Created on 13. 02. 2021 */}}
{{/* Time-stamp: <2021-02-16 18:00:57 krylon> */}}
<form action="/feed/subscribe" method="post">
  <table class="horizontal">
    <tr>
      <th>Name</th>
      <td>
        <input type="text" name="name" id="name" placeholder="Name" />
      </td>
    </tr>
    <tr>
      <th>URL</th>
      <td>
        <input
        type="url"
        name="url"
        id="url"
        placeholder="https://www.example.com/rss"
        required />
      </td>
    </tr>
    <tr>
      <th>Homepage</th>
      <td>
        <input
        type="url"
        name="homepage"
        id="homepage"
        placeholder="https://www.example.com/"
        required />
      </td>
    </tr>
    <tr>
      <th>Interval<br />(in seconds)</th>
      <td>
        <input type="number" name="interval" id="interval" value="900" min="0" max="10080" />
      </td>
    </tr>
    <tr>
      <td><input type="reset" value="Reset" /></td>
      <td><input type="submit" value="OK" /></td>
    </tr>
  </table>
</form>
{{ end }}
