{{ define "feeds" }}
{{/* Created on 13. 02. 2021 */}}
{{/* Time-stamp: <2021-02-13 17:42:27 krylon> */}}
<table class="feeds">
  <thead>
    <tr>
      <th>Name</th>
      <th>Interval</th>
      <th>MRU</th>
    </tr>
  </thead>

  <tbody>
    {{ $class := cycle "even" "odd" }}
    {{ range . }}
    <tr>
      <td><a href="{{ .URL }}" target="_blank">{{ .Name }}</a></td>
      <td>{{ .Interval }}</td>
      <td>{{ fmt_time .LastUpdate }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
