{{ define "feed_all" }}
{{/* Created on 07. 03. 2021 */}}
{{/* Time-stamp: <2021-03-08 21:55:04 krylon> */}}
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <script>
     var feeds = {
       {{ range .Feeds }}
       {{ .ID }}: {
         "id": {{ .ID }},
         "name": "{{ js .Name }}",
         "url": "{{ js .URL }}",
         "homepage": "{{ js .Homepage }}",
         "interval": {{ .Interval.Seconds }},
         "active": {{ .Active }},
       },
       {{ end }}
     };
    </script>

    <form id="feed_form" style="display: none;">
      <div class="row">
        <label class="col" for="id">ID</label>
        <input type="text"
               name="id"
               class="col"
               id="form_id"
               disabled />
      </div>
      <div class="row">
        <label for="name" class="col">Name</label>
        <input type="name"
               class="col"
               name="name"
               id="form_name"
               placeholder="Name"
               required />
      </div>
      <div class="row">
        <label for="url" class="col">URL</label>
        <input type="url"
               class="col"
               name="url"
               id="form_url"
               placeholder="https://www.example.com/rss"
               required />
      </div>
      <div class="row">
        <label for="homepage" class="col">Homepage</label>
        <input type="url"
               class="col"
               name="homepage"
               id="form_homepage"
               placeholder="https://www.example.com/"
               required />
      </div>
      <div class="row">
        <label for="interval" class="col">Interval (minutes)</label>
        <input type="number"
               class="col"
               name="interval"
               id="form_interval"
               value="15"
               min="0"
               max="10080" />
      </div class="row">
      {{/*
      <div class="form-check">
        <label for="active" class="col">Active?</label>
        <input type="checkbox"
               class="col"
               name="active"
               id="form_active"
               checked />
      </div>
      */}}
      <div class="row">
        <button type="button"
                class="btn btn-secondary col"
                onclicked="feed_form_reset();">
          Cancel
        </button>
        
        <button type="button"
                class="btn btn-secondary col"
                onclick="feed_form_submit();">
          OK
        </button>
      </div>
    </form>

    <p>

    <table class="feeds table table-striped">
      <thead>
        <tr>
          <th>Active</th>
          <th>Name</th>
          <th>URL</th>
          <th>Interval</th>
          <th>Last Update</th>
        </tr>
      </thead>

      <tbody>
        {{ range .Feeds }}
        <tr id="feed_{{ .ID }}">
          <td class="form-check">
            <input type="checkbox"
                   id="feed_active_{{ .ID }}"
                   onchange="toggle_feed_active({{ .ID }});"
                   {{ if .Active }}checked{{ end }} />
          </td>
          <td>
            <a id="homepage_{{ .ID }}"
               href="{{ .Homepage }}"
               target="_blank">{{ .Name }}</a>
            &nbsp;
            <button type="button"
                    class="btn btn-primary btn-sm"
                    onclick="edit_feed({{ .ID }});">
              Edit
            </button>
          </td>
          <td>
            <a id="url_{{ .ID }}"
               href="{{ .URL }}"
               target="_blank">
              {{ .URL }}
            </a>
          </td>
          <td id="interval_{{ .ID}}">{{ .Interval }}</td>
          <td id="last_update_{{ .ID }}">{{ fmt_time .LastUpdate }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
