{{ define "file_list" }}
{{/* Time-stamp: <2020-06-05 14:51:35 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <table>
      <thead>
        <tr>
          <th>Note</th>
          <th>Name</th>
          <th>Size</th>
          <th>Timestamp</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        {{ $class := cycle "even" "odd" }}
        {{ $notes := .Notes }}
        {{ range .Files }}
        {{ $note := index $notes .NoteID }}
        <tr id="file_det_{{ .ID }}" class="{{ $class.Next }}">
          <td><a href="/note/{{ .NoteID }}">{{ $note.Title }}</a></td>
          <td><a href="/file/{{ .ID }}">{{ .Name }}</a></td>
          <td>{{ fmt_bytes .Size }}</td>
          <td>{{ fmt_time .MTime }}</td>
          <td>
            <input
            type="button"
            value="Delete"
            onclick="fileDelete({{ .ID }});" />
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
    
    {{ template "footer" . }}
  </body>
</html>
{{ end }}
