{{ define "file_upload" }}
{{/* Time-stamp: <2020-05-30 17:08:49 krylon> */}}
<div>
  <form
    action="/note/upload_file"
    method="post"
    enctype="multipart/form-data"
    id="note_file_upload_form"
    >
    <fieldset>
      <legend>Upload file</legend>
      <table class="horizontal">
        <tr>
          <th><label for="file">File:</label></th>
          <td><input type="file" name="file" required /></td>
          <th><label for="file_keywords">Keywords:</label></th>
          <td>
            <input 
            type="text" 
            name="file_keywords" 
            placeholder="Keywords..."
            />
            </td>
        </tr>
        <tr>
          <td><input type="reset" value="Reset" /></td>
          <td><input type="submit" value="Upload" /></td>
        </tr>
      </table>
    </fieldset>
    <input type="hidden" name="note_id" value="{{ .Note.ID }}" />
  </form>
</div>
{{ end }}
