{{ define "footer" }}
{{/* Time-stamp: <2021-02-12 16:03:22 krylon> */}}
<hr />
<div class="footer">
  <footer>
    {{ app_string }}<br />
    &copy; 2021
    {{ if (gt current_year "2021") }}
    - {{ current_year }}
    {{ end }}
    <a href="mailto:walkenhorst.benjamin@gmail.com">
      Benjamin Walkenhorst
    </a>
    {{ if .Debug }}
    <br />
    Template rendered on <time>{{ now }}</time>
    {{ end }}
  </footer>
</div>
{{ end }}
