{{ define "head" }}
{{/* Time-stamp: <2021-02-22 18:21:30 krylon> */}}
<head>
  <title>{{ app_string }}@{{ hostname  }} - {{ .Title }}</title>
  
  <meta charset="utf-8">

  <script type="text/javascript" src="/static/jquery-3.5.1.min.js">
  </script>
  
  <script type="text/javascript" src="/static/underscore.js">
  </script>

  <script type="text/javascript" src="/static/sha512.min.js">
  </script>

  <script type="text/javascript" src="/static/settings.js">
  </script>
  
  <script type="text/javascript" src="/static/interact.js">
  </script>

  <script>
   $(document).ready(function() {
     initSettings();
     // Start the heartbeat loop
     beaconLoop();

     $("#msg_check_interval")[0].value = settings.messages.interval;
     // We delay the start of the message loop, because it gave me
     // weird errors when I called it right away.
     window.setTimeout(getNewMessages, 1000);


     curMessageCnt = {{ len .Messages }};
     if (curMessageCnt == 0) {
       $("#msg_tbl").hidden = true;
     }

     {{ if .TestMsgGen }}
     try {
       $("#msg_check_switch")[0].checked = settings.messages.queryEnabled;
     } catch (err) {
       console.log(err);
       // alert(err);
     }
     {{ else }}
     window.setTimeout(function() { settings.messages.queryEnabled = true; }, 250);
     {{ end }}

     if (settings.items.hideboring) {
       hide_boring_items();
     }
   });
  </script>

  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  {{/* <link rel="stylesheet" type="text/css" href="/static/normalize.css" /> */}}
</head>
{{ end }}
