{{ define "index" }}
{{/* Time-stamp: <2021-02-12 16:11:30 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h3>Coming soon: <i>Content</i></h3>

    {{ template "footer" }}
  </body>
</html>
{{ end }}
