{{ define "index" }}
{{/* Time-stamp: <2021-02-16 12:33:59 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>Latest Headlines</h2>

    {{ template "items" . }}

    <h2>Subscriptions</h2>

    {{ template "feeds" .Feeds }}

    {{ template "footer" }}
  </body>
</html>
{{ end }}
