{{ define "items" }}
{{/* Created on 13. 02. 2021 */}}
{{/* Time-stamp: <2021-06-15 18:48:33 krylon> */}}
<script>
 $(document).ready(shrink_images);
</script>
<table class="items table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Feed</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Tags</th>
      <th>Summary</th>
    </tr>
  </thead>

  <tbody>
    {{ $class := cycle "even" "odd" }}
    {{ $feeds := .FeedMap }}
    {{ $dot := . }}
    {{ $sugglist := .TagSuggestions }}
    {{ range .Items }}
    <tr class="{{ $class.Next }}{{ if .IsBoring }} boring{{ end }}" id="item_{{ .ID }}">
      <td>
        {{ fmt_time .Timestamp }}<br />
        <input
        type="button"
        value="Read Later"
        id="read_later_button_{{ .ID }}"
        onclick="read_later_show({{ .ID }});" />
        <br />
        {{ template "later_form" . }}
      </td>
            <td><a href="/feed/{{ .FeedID }}">
        {{ (index $feeds .FeedID).Name }}
      </a></td>
      <td>
        <a href="{{ .URL }}" target="_blank">
          {{ .Title }}
        </a>
      </td>
      <td id="item_rating_{{ .ID }}">
        <small>{{ .RatingString }}</small><br />
        {{ if not .IsRated }}
        <input
        class="btn btn-secondary"
        type="button"
        value="Interesting"
        onclick="rate_item({{ .ID }}, 1);" />
        <br />&nbsp;<br />
        <input
        type="button"
        class="btn btn-secondary"
        value="Booooring"
        onclick="rate_item({{ .ID }}, 0);" />
        <br />
        {{ else }}
        <input
        type="button"
        class="btn btn-secondary"
        value="Unvote"
        onclick="unvote_item({{ .ID }});" />
        <br />
        {{ end }}
        {{ if (le .Rating 0.0) }}
        <img src="/static/emo_boring.png" />
        {{ else }}
        <img src="/static/emo_interesting.png" />
        {{ end }}
      </td>
      <td>
        <div id="tags_{{ .ID }}">
          {{ $item_id := .ID }}
          {{ $item := . }}
          {{ range .Tags }}
          <a class="item_{{ $item_id }}_tag_{{ .ID }}" href="/tag/{{ .ID }}">{{ .Name }}</a>
          <img
          class="item_{{ $item_id }}_tag_{{ .ID }}"
          src="/static/delete.png"
          role="button"
          onclick="untag({{ $item_id }}, {{ .ID }});" />
          &nbsp;
          {{ end }}
        </div>
        <div class="suggest" id="tag_suggest_{{ .ID }}">
          {{ $sugg := index $sugglist .ID }}
          {{ if gt (len $sugg) 0 }}
          <br />
          {{ range $sugg }}
          {{ $button_id := uuid }}
          <input type="button"
                 id="{{ $button_id }}"
                 class="btn btn-link"
                 {{ if not ($item.HasTag .ID) }}
                 onclick="quick_tag({{ $item_id }}, {{ .ID }}, '#{{ $button_id }}');"
                 {{ end }}
                 value="{{ .Name }}" />
          ({{ fmt_float .Score }})&nbsp;
          {{ end }}
          {{ end }}
        </div>
        <br /><br />
        {{ $arg := $dot.TagLinkData . }}
        {{ template "tag_link_form" $arg }}
      </td>
      <td>
        {{ if gt (len .Description) 500 }}
        <button class="btn btn-primary"
                data-bs-toggle="collapse"
                href="#collapse_item_{{ .ID }}"
                aria-expanded="false"
                aria-controls="#collapse_item_{{ .ID }}">
          Description
        </button>
        <div class="collapse" id="collapse_item_{{ .ID }}">
          {{ .Description }}
        </div>
        {{ else }}
        {{ .Description }}
        {{ end }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
