{{ define "items" }}
{{/* Created on 13. 02. 2021 */}}
{{/* Time-stamp: <2021-03-05 18:03:51 krylon> */}}
<table class="items table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Rating</th>
      <th>Tags</th>
      <th>Feed</th>
      <th>Title</th>
      <th>Summary</th>
    </tr>
  </thead>

  <tbody>
    {{ $class := cycle "even" "odd" }}
    {{ $feeds := .FeedMap }}
    {{ $dot := . }}
    {{ range .Items }}
    <tr class="{{ $class.Next }}{{ if .IsBoring }} boring{{ end }}" id="item_{{ .ID }}">
      <td>
        {{ fmt_time .Timestamp }}<br />
        <input
        type="button"
        value="Read Later"
        id="read_later_button_{{ .ID }}"
        onclick="read_later_show({{ .ID }});" />
        <br />
        {{ template "later_form" . }}
      </td>
      <td id="item_rating_{{ .ID }}">
        <small>{{ .RatingString }}</small><br />
        {{ if not .IsRated }}
        <input
        type="button"
        value="Interesting"
        onclick="rate_item({{ .ID }}, 1);" />
        &nbsp;|&nbsp;
        <input
        type="button"
        value="Booooring"
        onclick="rate_item({{ .ID }}, 0);" />
        <br />
        {{ else }}
        <input
        type="button"
        value="Unvote"
        onclick="unvote_item({{ .ID }});" />
        <br />
        {{ end }}
        {{ if (le .Rating 0.0) }}
        <img src="/static/emo_boring.png" />
        {{ else }}
        <img src="/static/emo_interesting.png" />
        {{ end }}
      </td>
      <td>
        <div id="tags_{{ .ID }}">
          {{ $item_id := .ID }}
          {{ range .Tags }}
          <a class="item_{{ $item_id }}_tag_{{ .ID }}" href="/tag/{{ .ID }}">{{ .Name }}</a>
          <img class="item_{{ $item_id }}_tag_{{ .ID }}" src="/static/delete.png" onclick="untag({{ $item_id }}, {{ .ID }});" />
          &nbsp;
          {{ end }}
        </div>
        <br /><br />
        {{ $arg := $dot.TagLinkData . }}
        {{ template "tag_link_form" $arg }}
      </td>
      <td><a href="/feed/{{ .FeedID }}">
        {{ (index $feeds .FeedID).Name }}
      </a></td>
      <td>
        <a href="{{ .URL }}" target="_blank">
          {{ .Title }}
        </a>
      </td>
      <td>{{ .Description }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
