{{ define "label_form" }}
{{/* Time-stamp: <2020-05-08 10:31:19 krylon> */}}
<form action="/label/create" method="post">
  <input id="label_form" type="text" name="name" placeholder="Label name" />
  <input type="button" value="Create" onclick="create_label();" />
</form>
{{ end }}
