{{ define "label_details" }}
{{/* Time-stamp: <2020-05-08 07:15:47 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ if gt (len .Notes) 0 }}
    <ul>
      {{ range .Notes }}
      <li>
        <a href="/note/{{ .ID }}">{{ .Title }}</a>
      {{ end }}
    </ul>
    {{ else }}
    There are no Notes linked to this Label
    {{ end }}

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
