{{ define "label_all" }}
{{/* Time-stamp: <2020-05-30 16:51:19 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ template "label_form" . }}

    <div>
      <ul id="label_list">
        {{ range .Labels }}
        <li id="label_item_{{ .ID }}">
          <a href="/label/{{ .ID }}">{{ .Name }}</a>
          &nbsp;
          <input
          class="small"
          type="button"
          value="Delete"
          onclick="delete_label({{ .ID }});"
          />
        </li>
        {{ end }}
      </ul>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
