{{ define "link_type_list" }}
{{/* Time-stamp: <2020-06-12 22:23:15 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ template "link_type_form" . }}

    <hr />

    <script>
     var linkList = {
       {{ range .Types }}
       {{ .ID }}: {
         "ID": {{ .ID }},
         "Name": "{{ js .Name }}",
         "Description": "{{ js .Description }}",
       },
       {{ end }}
     };
    </script>

    <table class="link_type_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody id="link_type_view">
        {{ $row_class := cycle "even" "odd"  }}
        {{ range .Types }}
        <tr class="{{ $row_class.Next }}" id="lnk_type_{{ .ID }}">
          <td>
            <a href="/link_type/{{ .ID }}">
              {{ .Name }}
            </a>
            <hr />
            <input
            type="button"
            class="small"
            value="Edit"
            onclick="link_type_form_load({{ .ID }});"
            />
            &nbsp;
            <input
            type="button"
            class="small"
            value="Delete"
            onclick="link_type_delete({{ .ID }});"
            />
          </td>
          <td>{{ .Description }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
      
    {{ template "footer" . }}
  </body>
</html>

{{ end }}
