{{ define "link_create_form" }}
{{/* Time-stamp: <2020-06-06 17:55:19 krylon> */}}
<div id="link_create_form">
  <fieldset class="box">
    <div id="lnk_type_menu">
      Link Type:
      <select id="link_type_list" onchange="note_link_type_select();">
        {{ range .LinkTypes }}
        <option value="{{ .ID }}">{{ .Name }}</option>
        {{ end }}
      </select>

      Note:
      <select id="note_link_list" disabled="true">
      </select>

      {{/*
        Werden beim Anlegen keine IDs an die table rows vergeben?
      */}}
      <input type="button" value="Create Link" onclick="note_link_create({{ .Note.ID }});" />
    </div>

    <div id="lnk_list">
      <script>
       var linkCnt = {{ len .LinkedNotes }};

       function hide_empty_link_list() {
         if (linkCnt == 0) {
           var nodes = $(".linkedNoteList");

           for (var i = 0; i < nodes.length; i++) {
             // console.log(nodes[i].tagName);
             nodes[i].hidden = true;
           }
         }
       } // function hide_empty_link_list()

       $(document).ready(function() {
         window.setTimeout(hide_empty_link_list, 100);
       });
      </script>

      <h4 class="linkedNoteList">Linked Notes</h4>
      <table class="spaced">
        <thead class="linkedNoteList">
          <tr>
            <th>Link Type</th>
            <th>Link Target</th>
            <th>{{ nbsp 4 }}</th>
          </tr>
        </thead>

        <tbody id="linkedNoteBody" class="linkedNoteList">
          {{ range .LinkedNotes }}
          <tr id="link_item_{{ .LinkID }}">
            <td>
              <a href="/link_type/{{ .Type.ID }}">{{ .Type.Name }}</a>
            </td>

            <td>
              <a href="/note/{{ .Note.ID }}">{{ .Note.Title }}</a>
            </td>

            <td>
              <input
              type="button"
              value="Delete"
              onclick="note_link_delete({{ .LinkID }});"
              />
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

  </fieldset>
</div>
{{ end }}
