{{ define "menu" }}
{{/* Time-stamp: <2021-02-14 22:33:38 krylon> */}}
<div class="menubar">
  <nav>
    <table>
      <tr>
        <td>
          <a href="/">Start</a>
        </td>
        <td>
          &nbsp;&sdot;&nbsp;
        </td>
        <td>
          <a href="/feed/form">Subscribe</a>
        </td>
        <td>
          &nbsp;&sdot;&nbsp;
        </td>
        {{/*
        <td>
          <input
          type="button"
          value="Shut down server"
          onclick="shutdown_server();"
          />
        </td>
        <td>
          &nbsp;&sdot;&nbsp;
        </td>
        */}}
        <td>
          <input type="button"
                 class="small"
                 value="Perform DB maintenance"
                 onclick="db_maintenance();" />
        </td>
      </tr>
    </table>
  </nav>
</div>
{{ end }}
