{{ define "menu" }}
{{/* Time-stamp: <2021-03-07 12:31:59 krylon> */}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/">Start</a>
    <a href="/feed/form">Subscribe</a>
    <a href="/items/0">Items</a>
    <a href="/items/all">
      <i><b>ALL</b></i> Items
    </a>
    <a href="/tag/all">Tags</a>

    <a href="/later/all">Bookmarks</a>
    <input type="button"
           class="small"
           value="Perform DB maintenance"
           onclick="db_maintenance();" />
    <form>
      <label for="hide_boring">Hide boring?</label>
      <input type="checkbox"
             name="hide_boring"
             value="Hide Boring"
             onclick="toggle_hide_boring();" />
    </form>
    <form action="/search" method="post" class="d-flex">
      <input type="search"
             name="query"
             aria-label="Search"
             placeholder="Search..." />
      <input type="submit" value="Search" />
    </form>
    <input type="button"
           value="Rebuild FTS"
           onclick="rebuildFTS();" />
  </div>
</nav>
{{ end }}
