{{ define "note_detail" }}
{{/* Time-stamp: <2020-06-27 15:55:15 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <script>
     var note = {
       "ID": {{ .Note.ID }},
       "Title": '{{ js .Note.Title }}',
       "Body": '{{ js .Note.Body }}',
       "Color": '{{ .Note.HTMLColor}}'
     };
     
     $(document).ready(function() {
       markup = '{{ js .Note.Body }}';
       $("#edit_cancel")[0].disabled = true;
       $("#edit_save")[0].disabled = true;
       $("#note_color")[0].value = '{{ .Note.HTMLColor }}';

       var bod = document.body;
       bod.style["background-color"] = "{{ .Note.HTMLColor }}";
     });
    </script>

    <div id="title" style="text-align: left;">
      <div onclick="title_edit();">
        {{ .Title }}
      </div>
    </div>

    <br />&nbsp;<br />

    <table>
      <thead>
      <tr>
        <th>Labels</th>
        <th>Links</th>
        <th>Files</th>
        <th>Reminders</th>
      </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <fieldset>
              <div id="linkmenu">
                <select name="linklist" id="linklist">
                  {{ range .AllLabels }}
                  <option value="{{ .ID }}">{{ .Name }}</option>
                  {{ end }}
                </select>

                <input type="button" value="Add Label" onclick="add_label_link({{ .Note.ID }});" />
              </div>

              <div id="links">
                <ul id="linked_labels">
                  {{ $noteID := .Note.ID }}
                  {{ range .LinkedLabels }}
                  <li id="label_item_{{ .ID }}">
                    <a href="/label/{{ .ID }}">{{ .Name }}</a>
                    &nbsp;
                    <input
                    class="small"
                    type="button"
                    value="Delete"
                    onclick="delete_label_link({{ $noteID }}, {{ .ID }});"
                    />
                  </li>
                  {{ end }}
                </ul>
              </div>
            </fieldset>
          </td>

          <td>
            {{ template "link_create_form" . }}
          </td>

          <td>
            <div id="files">
                <table>
                  <thead>
                    <tr>
                      <th>Preview</th>
                      <th>Name</th>
                      <th>Keywords</th>
                      <th>Size</th>
                      <th>Last change</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>

                  <tbody>
                    {{ $dbg := .Debug  }}
                    {{ $row := cycle "even" "odd" }}
                    {{ range .Files }}
                    <tr id="file_det_{{ .ID }}"  class="{{ $row.Next }}">
                      <td>
                        {{ if .IsImage }}
                        <img src="/file/{{ .ID }}" width="320" height="240" />
                        {{ else if .IsAudio }}
                        <audio controls>
                          <source src="/file/{{ .ID }}" type="{{ .MIMEType }}" />
                        </audio>
                        {{ else if .IsVideo }}
                        <video width="320" height="180" controls="controls">
                          <source src="/file/{{ .ID }}" type="{{ .MIMEType }}" />
                        </video>
                        {{ else }}
                        No preview available
                        {{ end }}
                      </td>
                      <td>
                        <a
                          id="file_name_{{ .ID }}"
                          href="/file/{{ .ID }}"
                          type="{{ .MIMEType }}"
                          target="_blank">
                          {{ .Name }}
                        </a>
                      </td>
                      <td>
                        <div id="file_keywords_{{ .ID }}"
                             onclick="fileKeywordsEdit({{ .ID }});"
                             >
                          {{ if gt (len .Keywords) 0 }}
                          {{ .Keywords }}
                          {{ else }}
                          &nbsp;
                          {{ end }}
                        </div>
                      </td>
                      <td>{{ fmt_bytes .Size }}</td>
                      <td>{{ fmt_time .MTime }}</td>
                      <td>
                        <input
                        type="button"
                        value="Delete"
                        onclick="fileDelete({{ .ID }});" />
                        &nbsp;
                        <input
                        type="button"
                        value="Rename"
                        onclick="fileRename({{ .ID }});"
                        />
                      </td>
                    </tr>
                    {{ end }}

                    <tr>
                      <td colspan="2">
                        &nbsp;
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                      {{ template "file_upload" . }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </td>

          <td>
            {{ template "note_reminders" . }}
          </td>
        </tr>
      </tbody>
    </table>

    <hr />

    <table class="horizontal">
      <tr>
        <th>Created</th>
        <td id="create_ts">{{ fmt_time .Note.Created }}</td>
      </tr>
      <tr>
        <th>Last Change: </th>
        <td id="mod_ts">{{ fmt_time .Note.Modified }}</td>
      </tr>
      <tr>
        <th>Revision: </th>
        <td id="revision_field">{{ .Note.Revision }}</td>
      </tr>
      <tr>
        <th>Color: </th>
        <td>
          <input type="color" id="note_color" onchange="note_color_change({{ .Note.ID }});" value="{{ .Note.HTMLColor }}" />
          &nbsp;
          <input type="button" value="Reset" onclick="note_color_reset({{ .Note.ID }});" />
        </td>
      </tr>
      <tr>
        <th>Delete?</th>
        <td>
          <input type="button"
                 value="Delete"
                 class="small"
                 onclick="note_delete_from_view({{ .Note.ID }});" />
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <input id="edit_button" type="button" value="Edit" onclick="toggleNoteEdit();" />
        </td>

        <td>
          <input
          id="edit_cancel"
          type="button"
          value="Cancel"
          onclick="cancelNoteEdit();" />

          <input
          id="edit_save"
          type="button"
          value="Save"
          onclick="saveNoteEdit(note);" />
        </td>
      </tr>
    </table>

    <div id="note-body" class="box notebody">
      <article>
        {{ render_markdown .Note.Body }}
      </article>
    </div>

    {{ template "footer" . }}
  </body>
</html>
{{ end }}
