{{ define "search" }}
{{/* Created on 15. 03. 2021 */}}
{{/* Time-stamp: <2021-03-15 20:52:16 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <form action="/search_more" method="post">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <label for="search_terms">Search</label>
            <input type="text"
                   id="search_terms"
                   placeholder="Search..." />
          </div>
          <div class="col">
            <div class="dropdown">
              <button type="button"
                      class="btn dropdown-toggle"
                      id="search_tag_toggle_btn"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expaned="false">
                Tags
              </button>

              <ul class="dropdown-menu"
                  aria-labelledby="search_tag_toggle_btn">
                {{ range .AllTags }}
                <li class="dropdown-item">
                  <label for="search_tag_{{ .ID }}">{{ .Name }}</label>
                  <input type="checkbox"
                         id="search_tag_{{ .ID }}"
                         />
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    {{ template "footer" }}
  </body>
</html>
{{ end }}
