{{ define "subscribe" }}
{{/* Created on 13. 02. 2021 */}}
{{/* Time-stamp: <2021-02-13 23:12:12 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ template "feed_form" . }}

    {{ template "footer" }}
  </body>
</html>
{{ end }}
