{{ define "tag_details" }}
{{/* Created on 25. 02. 2021 */}}
{{/* Time-stamp: <2021-02-25 16:57:45 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    <h2>{{ .Tag.Name }}</h2>

    <blockquote>
      {{ .Tag.Description }}
    </blockquote>

    <hr />

    {{ if (gt (len .Items) 0) }}
    {{ template "items" . }}
    {{ else }}
    <div class="center important">
      No Items are currently tagged {{ .Tag.Name }}
    </div>
    {{ end }}

    {{ template "footer" }}
  </body>
</html>
{{ end }}
