{{ define "tag_view" }}
{{/* Created on 24. 02. 2021 */}}
{{/* Time-stamp: <2021-02-24 22:50:05 krylon> */}}
<ul>
  {{ range .Tags }}
  <li> {{ .Name }} -- {{ .Description }} </li>
  {{ end }}
</ul>
{{ end }}
