{{ define "tag_form" }}
{{/* Created on 24. 02. 2021 */}}
{{/* Time-stamp: <2021-02-26 19:10:47 krylon> */}}
<form action="/tag/create" method="post">
  <h2>Define Tag</h2>
  <table class="horizontal">
    <tr>
      <th>Name</th>
      <td>
        <input
        type="text"
        name="name"
        placeholder="Name"
        required />
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input
        type="text"
        name="description"
        placeholder="Description" />
      </td>
    </tr>
    <tr>
      <th>Parent</th>
      <td>
        <select name="parent">
          <option value="0">None</option>
          {{ range .Tags }}
          <option value="{{ .ID }}">{{ .Name }}</option>
          {{ end }}
        </select>
      </td>
    </tr>
    <tr>
      <th><input type="reset" value="Clear" /></th>
      <td><input type="submit" value="OK" /></td>
    </tr>
  </table>
</form>
{{ end }}
