{{ define "tags" }}
{{/* Created on 24. 02. 2021 */}}
{{/* Time-stamp: <2021-03-13 16:04:06 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ template "tag_form" . }}

    <hr />

    <div class="container-fluid">
      <div class="row">
        <div class="col-auto align-self-start">
          <ul>
            {{ range .Tags }}
            {{ template "tag_view" . }}&nbsp;
            {{ end }}
          </ul>
        </div>

        <div id="item_div" class="col">
        </div>
      </div>
    </div>

    {{ template "footer" }}
  </body>
</html>
{{ end }}
