{{ define "tags" }}
{{/* Created on 24. 02. 2021 */}}
{{/* Time-stamp: <2021-03-04 15:47:26 krylon> */}}
<!DOCTYPE html>
<html>
  {{ template "head" . }}

  <body>
    {{ template "intro" . }}

    {{ template "tag_form" . }}

    <hr />

    <ul>
      {{ range .Tags }}
      {{ template "tag_view" . }}&nbsp;
      {{ end }}
    </ul>

    {{ template "footer" }}
  </body>
</html>
{{ end }}
